<!-- 
<div class="login-container">

    <div class="container-fluid h-100">
    
    <div class="row g-0 h-100">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="login-about">
                <div class="slogan">
                    <span>Design</span>
                    <span>Made</span>
                    <span>Simple.</span>
                </div>
                <div class="about-desc">
                    UniPro a data dashboard is an information management tool that visually tracks, analyzes and displays key performance indicators (KPI), metrics and key data points to monitor the health of a business, department or specific process.
                </div>
                <a href="crm.html" class="know-more">Know More <img src="/assets/img/right-arrow.svg" alt="Uni Pro Admin"></a>

            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="login-wrapper">
                <form action="http://bootstrap.gallery/unipro/v1-x/05-design-violet/crm.html">
                    <div class="login-screen">
                        <div class="login-body">
                            <a href="crm.html" class="login-logo">
                                <img src="/assets/img/logo.svg" alt="iChat">
                            </a>
                            <h6>Welcome back,<br>Please login to your account.</h6>
                            <div class="field-wrapper">
                                <input type="email" autofocus>
                                <div class="field-placeholder">Email ID</div>
                            </div>
                            <div class="field-wrapper mb-3">
                                <input type="password">
                                <div class="field-placeholder">Password</div>
                            </div>
                            <div class="actions">
                                <a href="forgot-password.html">Forgot password?</a>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                        <div class="login-footer">
                            <span class="additional-link">No Account? <a href="signup.html" class="btn btn-light">Sign Up</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-8">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line pt-3"> <img
                            src="https://i.imgur.com/uNGdWHi.png" class="image"> 
                    </div>
                </div>
            </div> -->


         <form [formGroup]="loginform" (ngSubmit)="loginclick()">
            <div class="col-lg-12  pt-4" >
                <div class="card2 card border-0 px-4  pt-4">
                    <div class="row px-3  pt-4">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label>
                        <input class="mb-4" type="text" name="email" formControlName="email" placeholder="Enter a valid email address">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" formControlName="password" placeholder="Enter password">
                    </div> 
                    <div class="row px-3 mb-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> 
                            <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                        </div>
                        <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3 text-center"> 
                        <button type="submit" class="btn btn-blue text-center">Login</button>
                    </div>
                   
                </div>
            </div>
         </form>
        <!-- </div> -->
        <div class="container-fluid bg-blue py-4 text" style="text-align: center;">
            <div>
                 <small class=""><h4> Copyright &copy; 2021. All rights reserved. </h4></small>
            </div>
        </div>
      
    <!-- </div> -->

 <!-- <h1>{{result | json}}</h1> -->