


<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table" style="margin-top: 15px; margin-bottom:15px;" >
                <tr>
                    <th>Client Name</th>
                    <th>Mobile No.</th>
                   
                </tr>
                <tr>
                    <td>Markus Zusak</td>
                    
                </tr>
                <tr>
                    <td>The Cruel Prince</td>
                    <td>Holly Black</td>
                   
                </tr>
                
            </table>
        </div>
        <div class="col-md-2" style="margin-top: 250px;">
            <button (click)="ngsubmit()">Add</button>
        </div>
    </div>
   
</div>
<app-footer></app-footer>
